/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height:800px;
  width: 80%;
  margin: 0px auto;
  background-color: #32445C;
}

body {
	background-color: rgb(174, 196, 90);
	opacity: 0.9;
	font: 13.34px helvetica, arial, clean, sans-serif;
	font-size: small;
	text-align: center;
	border: 5px dashed #FFFFFF;
	border-radius:7px;
	margin-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
	margin-bottom: 15px;
	color: #933;
}

p {
	margin: 15px 0;
	font-size: medium;
	color: #333;
}

a {
	color: #933;
}

a:hover {
	color: #F90;
}

a:visited {
	color: #630;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 30px;
}

  ul.posts li {
    line-height: 26px;
  }

  ul.posts span {
	color: #FFF;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
	font-size: 110%;
	text-align: justify;
	width: 80%;
	height:80%;
	line-height: 24px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}
.site hr{
	color: #32445C;
	border-style: dashed;
	border-bottom-width: 3px;
	border-top-width: 0px;
	margin-bottom:15px;
}

.title {
	color: #000000;
	font-weight: bold;
	margin-bottom: 30px;
}

  .site .title a {
    color: white;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
	color: #630;
	margin-left: 15px;
	text-decoration: none;
  }

  .site .title a.extra:hover {
	color: #633;

  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
	font-size: 80%;
	overflow: hidden;
	border-top-width: 3px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #32445C;
	width: auto;
  }
.site #home {
	min-height:640px;
	height:90%;
	border-top-width: 3px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #32445C;
	padding-top: 15px;
}


    .site .footer .contact {
      float: left;
      margin-right: 45px;
    }

      .site .footer .contact a {
	color: white;
	font-size: small;
      }

    .site .footer .rss {
	cursor: crosshair;
	margin-top: 5px;
	margin-right: 0px;
	float: right;
    }

      .site .footer .rss img {
	border: 0;
	margin: 0 auto;
	text-align: center;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
	border-radius: 7px;
	background: #2D4E36;
	padding: .2em .9em;
  }
  #post ol,li {
    margin-left: 20px;
  }

  #post code {
	color:white;
	font-size: medium;
    padding: 3px;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 30px;
}

  #related h2 {
    margin-bottom: 15px;
  }
