/*****************************************************************************/
/*
/* 通用配置
/*
/*****************************************************************************/

/* 全局重置 */

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height:800px;
  width: 80%;
  margin: 0px auto;
  background-color: gray;
}

body {
	background-color: rgb(88, 155, 152);
	opacity: 0.9;
	font: 13px helvetica, arial, clean, sans-serif;
	font-size: small;
	text-align: center;
	border: 5px dashed #FFFFFF;
	border-radius:7px;
	margin-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin-bottom: 5px;
}

p {
	margin: 15px 0;
	font-size: medium;
}
a:link{
	color: #933;
}
a:visited {
	color: #630;
	cursor:pointer
}
a:hover {
	color: #F90;
}
a:active {
	color: white;
}
table {
  font-size: inherit;
  font: 100%;
}


/*****************************************************************************/
/*
/* 模版
/*
/*****************************************************************************/
#project {
position: absolute;
left: 15px;
right: 15px;
top:10px;
}
#blog-name{
font-family: cursive;
font-size: xx-large;
}
.site {
	font-size: 110%;
	text-align: justify;
	width: 80%;
	height:80%;
	line-height: 24px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}
.site hr{
	color: #32445C;
	border-style: dashed;
	border-bottom-width: 3px;
	border-top-width: 0px;
	margin-bottom:15px;
}

.site > .title {
	color: #000000;
	font-weight: bold;
	margin-bottom: 30px;
}
  .site > .title a{
    display:inline-block;
	margin-left: 15px;
  }
  .site > .title a:link{
    text-decoration: none;
  }
  .site > .title a:visited {
	color: #630;
	text-decoration: none;
  }
  .site > .title a:hover {
    color: black;
  }
  .site > .title a:active {
	color: #633;
  }

  .site .footer {
	font-size: 80%;
	overflow: hidden;
	border-top-width: 3px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #32445C;
	width: auto;
  }
  /*
    .site .footer .contact {
      float: left;
	  clear:left;
      margin-right: 45px;
    }

    .site .footer .contact a {
	color: white;
	font-size: small;
    }

    .site .footer .rss {
	cursor: pointer;
	margin-top: 5px;
	margin-right: 0px;
	float: right;
		clear:both
    }

    .site .footer .rss img {
	border: 0;
	margin: 0 auto;
	text-align: center;
    }
*/
/*****************************************************************************/
/*
/* 模版中嵌入的索引
/*
/*****************************************************************************/
.index{
	min-height:640px;
	height:90%;
	border-top-width: 3px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #32445C;
	padding-top: 15px;
}
.index .list{
	margin-bottom: 30px;
	border: solid 2px white;
	border-radius: 5px;
	padding: 4px;
	box-shadow: 6px 6px gray;
	background-color: #E0A87A;
	opacity: 0.8;
}
.index .title{

	font-size:1.3em;
	margin-left:2px;
	margin-top:2px;
	font-weight:bold;
	text-decoration:none
}
.index .date{
	color: black;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
	float: right;
}

.index .excerpt {
	opacity: 0.8;
	background-color: lemonchiffon;
	border-radius:6px;
	padding:2px 2px 1px 2px;
}
.index .pagination {
	text-align:center
 }
 
/*****************************************************************************/
/*
/* 模版中嵌入的文章
/*
/*****************************************************************************/

.post {
	min-height: 500px;
}
.post h1{
    font-size: large;
		color: #933;
}
.post h2{
    margin-top: 15px;
}
.post .date{
    color:white;
}
  /* standard */
	.post table{
	margin:0 auto;
	}
	.post pre {
	border: 1px solid #ddd;
	border-radius: 7px;
	background: #2D4E36;
	padding: .2em .9em;
	}
	.post ol,li {
	margin-left: 20px;
	}
  
	.post pre code,.post p code {
	color:white;
	font-size: medium;
	padding: 3px;
	word-wrap: break-word;
	font-family: monospace;
	border: none;
	}
	.post blockquote {
	position: relative;
	margin-bottom: 25px;
	padding: 20px;
	font-size: 17px;
	font-weight: 100;
	line-height: 30px;
	word-break: break-word;
	border-left: 4px solid #999999;
	background-color: #F9FFA4;
	}

.related {
  margin-top: 30px;
}

.related h2 {
    margin-bottom: 15px;
  }
*/