<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>CC's Blog</title>
   <meta name="author" content="CC" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" />
</head>
<body>
<div class="site">
  <div class="title">
    CC's Blog
    <a class="extra" href="/">首页</a>
    <a class="extra" href="/">技术</a>
    <a class="extra" href="/life.html">生活</a>
  </div>
  {{ content }}
<!--  <div class="footer1">
    <div class="contact">
    <p>
    <a href="mailto:cfanlife@outlook.com"> Email to me</a>
    </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/cfanlife">项目自留地</a>
      </p>
    </div>
    <div class="rss">
      <a href="/atom.xml">
        <img src="/images/rss.png" alt="订阅RSS" />
      </a>
    </div>
  </div>
</div>
--> 

</body>
</html>
